 <div class="card-dash">
  <div class="card-header ">
    <h4><%= request.dog.name %></h4>
    <% if request.dog.photos.any? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path request.dog.photos.first.key %>')">
    </div>
    <% else %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80')">
    </div>
    <% end %>

    <div class="card-body">
      <div class="card-info">
        <i class="<%= request.request_icon %>"></i> Status: <%= request.status.capitalize %>
      </br>
      <% if request.dog.user != current_user %>
      <%= link_to "View Owner's Profile", user_path(request.dog.user) %>
      <% end %>
    </br>
    <% if request.user != current_user %>
      Requested by: <%= link_to request.user.name, user_path(request.user) %>
      <% end %>
  </div>
  <% if policy(request).accept? %>
  <%= link_to 'Accept', accept_request_path(request), method: :patch, class: "request-options" %>
  <%= link_to 'Reject', reject_request_path(request), method: :patch, class: "request-options" %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= request.id %>">
    View Request
  </button>
  <% end %>
  <% if review && policy(review).create? %>
  <%= link_to 'Write Review', new_request_review_path(request), class: "btn btn-outline-success" %>
  <% end %>
  <hr>
  <div class="status">
    <i class=""></i> Sent: <%= request.created_at.strftime("%A, %b %d, %y") %>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal-<%= request.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Info:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Name: <%= request.user.name %></p>
        <p>Start Date: <%= request.start_date.strftime("%A, %b %d, %y") %></p>
        <p>End Date: <%= request.end_date.strftime("%A, %b %d, %y") %></p>
        <p>Message: <%= request.content %></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
