<div class="main-container">
<div class="container cards-container" id="dogs">
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-md-4 mb-3">
        <%= link_to dog_path(dog) do %>
          <% if dog.photos.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path dog.photos.first.key %>)"><%= dog.name %>
            </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
            <%= dog.name %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
  </div>
</div>
<%= render "shared/map" %>
</div>
