<div class="container show">
  <div class="row">
    <div class="col-md-6 img">
      <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, width: 250, crop: :scale %>
      <% else %>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLOpe1MAvkqPwwTU0KLsa6FMh1rAZWg3OR_Q&usqp=CAU" alt="pic">
      <% end %>
    </div>
    <div class="col-md-6 details">
      <h4><%= @user.name %></h4>
      <p>
        <%= @user.email %> <br>
        Joined: <%= @user.created_at.strftime('%B %Y') %>
      </p>
      <% if @user == current_user %>
      <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      <% end %>
      <div id="user-reviews">
        <h5><%= @user.name %>'s Reviews</h5>
        <% if @user.reviews.empty? %>
        <p><%= @user.name %> doesn't have any reviews yet. ðŸ˜”</p>
        <% else %>
        <% @user.reviews.each do |review| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= review.request.dog.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= review.request.start_date.strftime("%B %e, %Y") %> - <%= review.request.end_date.strftime("%B %e, %Y") %></h6>
            <p class="card-text"> <%= 'â­ï¸' * review.rating %> <%= review.content %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
