<% if current_page?(dogs_path) %>
<div class="navbar navbar-expand-sm navbar-light navbar-pupper fixed-top navbar-lewagon-white">
<% else %>
<div class="navbar navbar-expand-sm navbar-light navbar-pupper fixed-top">
<% end %>
   <%= link_to root_path, class: "link-icon" do %>
    <p>Pupper <i class="fa fa-paw" aria-hidden="true"></i></p>
   <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "View Pups", dogs_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Pup", new_dog_path, class: "nav-link" %>
      </li>
        <% if user_signed_in? %>
        <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"  %>
        </li>
        <% else %>
        <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/taylormade38" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>
