<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512341350577-a09358311cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <% if user_signed_in? %>
        <h1>Welcome back <strong><%= @user.first_name %>!</strong></h1>
        <%= link_to "Go to Dashboard", dashboard_path, class: "btn my-3"%>
    <% else %>
        <h1>Be a hero with <strong>Pupper</strong></h1>
        <p>Provide a loving home to a pup in need.</p>
        <a class="btn" href="<%= new_user_registration_path %>">Join now</a>
    <% end %>
  </div>
</div>
<div class="container" id="home-head-container">
    <div class="row">
        <div class="home-search-form">
          <div>
          <h4>Be a <strong>hero</strong>. Foster a puppy waiting to be adopted.</h4>
          <p>Browse puppies looking for a nurturing, loving place to call home. When you're ready, click "Request to Foster" on the dog of your choice, and the breeder will get back to you within 3-5 business days. Pupper thanks you for being a hero.</p>
        </div>
        <div id="home-search-container">
            <%= render "shared/search_form" %>
          </div>
        </div>
    </div>
</div>

<div class="py-5 card-trip-container">
  <% @dogs.take(12).each do |dog| %>
    <%= link_to dog_path(dog) do %>
      <div class="card-trip">
        <% if dog.photos.first %>
          <%= cl_image_tag dog.photos.first.key, width: 350, crop: :scale %>
        <% else %>
        <img src="https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= dog.name %></h2>
            <p><%= dog.breed  %></p>
          </div>
          <h2 class="card-trip-age">Age: <%= pluralize dog.age, "week" %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>
