<div class="container">
  <h1>Write a Review for <%= @request.user.email %></h1>

  <div class="review_form">
    <%= simple_form_for([@request, @review]) do |f| %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
    <%= f.input :content %>
    <%= f.submit "Submit Review", class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>


